legend {
    font-size: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border: solid 3px;
    color: red;
    text-align: center;
}

body {
    background-image: url('beige_background.png');
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    float: left;
}